@tailwind base;
@tailwind components;
@tailwind utilities;

.leaflet-container {
  height: 300px;
  width: 300px;
  z-index: 0;
}

@media (min-width: 768px) {
  .leaflet-container {
    height: 500px;
    width: 500px;
  }
}